html{
  background-color: lightgrey;
}
h1{
  text-align: center;
}
.float{
  width: 300px;
  float: right;
  padding: 5px;
  border: black;
  margin: 5px;
}
span{
  color: lightgreen;
  background: black;
  line-height: 25px;
}
.box{
  margin: 10px;
  border: 5px solid black;
  padding: 10px;
}